<div class="wrapper">
  <div class="container">
    <div class="basket">
      <div class="basket__header">
        <h2 class="basket__title">Корзина</h2>
        <p class="basket__count">
          Количество: <input class="basket__count-number" type="number" value="5" min="1" step="1" />
        </p>
        <p class="basket__page">
          Страница:
          <button class="basket__page-left cart__button">&lt;</button>
          <span class="basket_page-number">1</span>
          <button class="basket__page-right cart__button">&gt;</button>
        </p>
      </div>
      <ul class="basket__list"></ul>
    </div>
    <div class="summary">
      <input class="summary__promo" type="text" placeholder="Введите промокод" />
      <p class="promo-for-test">Promo for test: 'RS', 'EPM'</p>
      <button class="button summary__button">Оформить заказ</button>
    </div>
  </div>
</div>
