@import '../../../sass/main.scss';

.filters {
  // width: 16rem;
  flex-shrink: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  flex-grow: 1;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.filter__title {
  font-weight: bold;
  margin: 0;
}

.filter_stealth {
  opacity: 0.5;
}

.filter__btn {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
  & img {
    max-width: 1.5rem;
    vertical-align: middle;
    margin-right: 0.25rem;
    opacity: 0.5;
  }
  &:hover {
    background-color: #ddd;
  }
  &:active {
    background-color: #aaa;
  }
}

.filter-item__label {
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: $medium-gray;
  }
  & input {
    margin-right: 0.5rem;
    opacity: 0.8;
  }
  &::after {
    content: attr(data-qty);
    position: absolute;
    right: 0;
    top: 3px
  }
}

.filter__labels {
  display: flex;
  justify-content: space-between;
}

.filter_ranges {
  position: relative;
  background: red;
}

.filter_range{
  margin-bottom: 1rem;
}

.filter__range {
  background: #ddd;
  appearance: none;
  width: 100%;
  height: 2px;
  position: absolute;
  pointer-events: none;
  &::-webkit-slider-thumb {
    background: none;
    pointer-events: auto;
    color: $main-gray;
    background: $main-gray;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    z-index: 2;
  }
  &::-webkit-slider-runnable-track {
    pointer-events: none;
    z-index: 1;
  }
}