@import '../../sass/main.scss';

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 2.5rem auto 1rem;
}

.footer__person-logo {
  height: 1.5rem;
}

.footer__person {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: 0.2s;
  opacity: 0.3;
  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }
}

.footer__person-name {
  color: $main-gray;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}