<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./_page404.scss" />
    <title>Not found</title>
  </head>
  <body>
    <article class="not-found">
      <div class="not-found_container">
        <h2 class="not-found_title">404</h2>
        <p class="not-found_desc">Страница не найдена.</p>
        <a class="button not-found_button" href="index.html">Перейти на главную</a>
        <img src="./assets/images/metr404.png" alt="metr" class="not-found_img" />
      </div>
    </article>
  </body>
</html>
