@import './base/typography';
@import './base/variables';
@import './elements/buttons';

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}