.main {
  max-width: 1440px;
  margin: 1rem auto;
}

.products-with-filters {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 1rem;
}

.heading-search {
  display: flex;
  align-items: center;
}

.search {
  margin-left: auto;
}

.topbar-switch-view__icon {
  max-width: 1rem;
}

.topbar-switch-input {
  // appearance: none;
}

.products-with-topbar {
  // display: block;
  width: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}